* {
  font-family: "Roboto Slab", sans-serif !important;
}

.article-image {
  width: 100%;
  margin-bottom: 40px;
}

.article-image img {
  max-width: 80%;
  display: block;
  margin: auto;
}

.article-image .article-image_text {
  text-align: center;
  font-size: 14px;
  max-width: 80%;
  margin: auto;
}

.custom_accordion.Mui-expanded {
  margin: 0!important;
}

.custom_accordion .MuiAccordionSummary-root.Mui-expanded {
  min-height: 46px;
}

.custom_accordion .MuiAccordionSummary-content .MuiTypography-body1 {
  font-size: 14px;
}

.custom_accordion .MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0;
}

.content_wrapper {
  max-width: 1000px;
  min-height: 100%;
  margin: auto;
  background: white;
  padding: 20px;
  padding-bottom: 40px;
}

.content_link--active span {
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .article-image img {
    max-width: 100%;
  }
}
